* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 80%);
  --neutral-very-dark-blue: hsl(220, 13%, 13%);
  --neutral-dark-grayish-blue: hsl(219, 9%, 45%);
  --neutral-grayish-blue: hsl(220, 14%, 75%);
  --neutral-light-grayish-blue: hsl(223, 64%, 98%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-lightbox-black: hsla(0, 0%, 0%, 0.75);
  --font-weight-400: 400;
  --font-weight-700: 700;
}

:is(h1, h2, h3, h4, h5, h6) {
  font: inherit;
}
img {
  display: block;
  max-width: 100%;
  cursor: pointer;
}
button {
  cursor: pointer;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  color: var(--neutral-dark-grayish-blue);
  font-weight: var(--font-weight-400);
  line-height: 1.5;
  position: relative;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: min(100%, 1200px);
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--neutral-grayish-blue);
  padding: 1.5rem 0;
}
header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav ul li a {
  position: relative;
}
header nav ul li a::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -2.6rem;
  width: 100%;
  background-color: var(--primary-orange);
  height: 5px;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

header nav ul li a:hover::after {
  opacity: 1;
}
.mobile-nav-btn {
  background-color: var(--neutral-white);
  border: none;
  box-shadow: 0px 0px 0px;
}

.mobile-menu-nav nav ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  li {
    list-style-type: none;
  }
  li a {
    color: var(--neutral-very-dark-blue);
    font-weight: var(--font-weight-700);
    font-size: 1.2rem;
  }
}
header nav ul {
  display: none;
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
    color: var(--neutral-dark-grayish-blue);
  }
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.profile-container img:last-child {
  width: 50px;
  border-radius: 50%;
}
.profile-container img:last-child:hover {
  outline: 3px solid var(--primary-orange);
}

/*MAiN SECTION*/
main {
  display: grid;
  width: min(100%, 1000px);
  margin: 0 auto;
  gap: 4rem;
}

.thumbnail-container {
  display: none;
}

.img-section {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.details-section {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  gap: 1rem;
  h2 {
    font-size: 2rem;
    color: var(--neutral-very-dark-blue);
    font-weight: var(--font-weight-700);
  }
}

.price-container {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.price-container p:first-child {
  display: flex;
  color: var(--neutral-very-dark-blue);
  font-size: 2rem;
  font-weight: var(--font-weight-700);
  gap: 1rem;
  align-items: center;
}

.price-container p span {
  color: var(--neutral-white);
  font-size: 1rem;
  background-color: var(--neutral-very-dark-blue);
  padding: 0.3rem;
  border-radius: 5px;
}

.price-container p:last-child {
  text-decoration: line-through;
  font-weight: var(--font-weight-700);
}

.btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.btn-container span,
.btn-container button {
  padding: 1rem 0.3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.btn-container span {
  justify-content: space-between;
  flex: 1;
  color: var(--neutral-very-dark-blue);
  font-weight: var(--font-weight-700);
  background-color: var(--neutral-light-grayish-blue);
}

.btn-container button {
  flex: 1;
  justify-content: center;
  gap: 0.7rem;
  background-color: var(--primary-orange);
  color: var(--neutral-very-dark-blue);
  font-weight: var(--font-weight-700);
  border: none;
  transition: background-color 0.1s ease-in-out;
}

.btn-container button:hover {
  background-color: var(--primary-pale-orange);
}
.minus,
.plus {
  cursor: pointer;
}

.img-mobile {
  position: relative;
  /* display: flex; */
}
:is(.previous, .next) {
  position: absolute;
  background-color: var(--neutral-white);
  color: black;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.previous {
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
}
.next {
  bottom: 50%;
  transform: translateY(50%);
  right: 14px;
}
.thumbnail-img-border {
  border: 3px solid var(--primary-orange);
  filter: grayscale(0.6);
}

.thumbnail-img-hover:hover {
  border: 3px solid var(--primary-orange);
  filter: grayscale(0.6);
}
/*LIGHTBOX GALLERY*/
.lightbox-gallery-overlay {
  position: fixed;
  inset: 0;
  height: 100vh;
  background-color: var(--neutral-lightbox-black);
}
.lightbox-gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  img {
    border-radius: 14px;
  }
}
.lightbox-gallery .close-gallery-btn {
  align-self: flex-end;
  cursor: pointer;
}
.lightbox-gallery .main-img-container {
  position: relative;
}
.lightbox-gallery .main-img {
  cursor: default;
}
:is(
    .lightbox-gallery .gallery-modal-previous-btn,
    .lightbox-gallery .gallery-modal-next-btn
  ) {
  position: absolute;
  background-color: var(--neutral-white);
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.lightbox-gallery .gallery-modal-previous-btn {
  top: 50%;
  transform: translateY(-40%);
  left: -14px;
}
.lightbox-gallery .gallery-modal-next-btn {
  bottom: 50%;
  transform: translateY(60%);
  right: -14px;
}
.lightbox-gallery .thumbnail-modal-img {
  display: flex;
  justify-content: center;
  gap: 1rem;
  img {
    width: 100px;
  }
}
/*FOOTER SECTION*/
footer {
  margin-top: 2rem;
  text-align: center;
}
footer a {
  color: hsl(228, 45%, 44%);
}
@media (min-width: 750px) {
  header nav {
    display: flex;
    gap: 5rem;
    ul {
      display: flex;
      gap: 1rem;
    }
  }
  .price-container {
    flex-direction: column;
    align-items: normal;
  }
  .btn-container {
    flex-direction: row;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  main {
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
  }
  .mobile-nav {
    display: none;
  }
  .img-section img {
    border-radius: 14px;
  }
  .thumbnail-container {
    display: flex;
    justify-content: space-between;
    img {
      width: 100px;
    }
  }

  .details-section {
    align-self: center;
  }
  :is(.previous, .next) {
    display: none;
  }
  footer {
    margin-top: 0;
  }
}
